
services:
  # PostgreSQL Database
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: management_system_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "@Hwani03"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  # Django Backend
  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/management_system:/app
      - ./backend/management_system/staticfiles:/app/staticfiles
      - ./backend/management_system/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      POSTGRES_DB: management_system_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "@Hwani03"
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      SECRET_KEY : bw4OUXqmrrrFmtAvIGSaLOqlYwiMHK53Y8eR0RJ8ibuMV1d8MN_GWsM_41hMaKf-bcdbXOmV9qLebDf5Kog_ww
      
  # React Frontend
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
  media_files:
