
services:
  # PostgreSQL Database
  db:
    image: postgres:15
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  # Django Backend
  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/management_system:/app
      - ./backend/management_system/staticfiles:/app/staticfiles
      - ./backend/management_system/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./.env
  # React Frontend
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
